<button routerLink="/admin/boat/create" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add a boat</button>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Boat name
                </th>
                <th scope="col" class="px-6 py-3">
                    Type
                </th>
                <th scope="col" class="px-6 py-3">
                    City
                </th>
                <th scope="col" class="px-6 py-3">
                    
                </th>
            </tr>
        </thead>
        <tbody>
        @for (boat of boats | async ; track boat.id) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ boat.name }}
                </th>
                <td class="px-6 py-4">
                    {{ boat.type }}
                </td>
                <td class="px-6 py-4">
                    {{ boat.city }}
                </td>
                <td class="px-6 py-4">
                    <a [routerLink]="['/admin/boat/', boat.id]" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a><br />
                    <a (click)="deleteBoat(boat)" class="font-medium text-red-600 dark:text-red-500 hover:underline"> Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
