@if (boat) {
<form class="max-w-sm mx-auto" (ngSubmit)="onSubmit(boatForm)" #boatForm="ngForm" >
    <div class="mb-5">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Nom</label>
      <input type="text" id="name" name="name" [(ngModel)]="boat.name" #name="ngModel" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <p [hidden]="name.valid || name.pristine" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> Name required</p>
    </div>
    
    <div class="mb-5">
      <label for="type" class="block mb-2 text-sm font-medium text-gray-900 ">Type</label>
      <select id="type" name="type" [(ngModel)]="boat.type" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        @for (type of types; track $index) {
          @if (boat.type === type) {
            <option selected>{{type}}</option>
          } @else {
            <option>{{type}}</option>
          }
        }
      </select>
    </div>

    <div class="mb-5">
      <label for="city" class="block mb-2 text-sm font-medium text-gray-900 ">City</label>
      <input type="text" id="city" name="city" [(ngModel)]="boat.city" #city="ngModel" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <p [hidden]="city.valid || city.pristine" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> City required</p>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>
}